{% load staticfiles %}
<div id = "footer" style="bottom:0;height:40px; background-color:black;width:100%;line-height:40px;background-color: rgba(5, 5, 5, 0.62);text-align:center;">
		<p style="margin-top: 0;color:white;">Copyright <i class="fa fa-copyright"></i><a style="color:#2CCAFE"> Kushagra Sahu</a><a href="https://github.com/kushagraSahu" style="margin-left:3%;color:white"><i class="fa fa-github" aria-hidden="true"></i></a><a href="https://www.facebook.com/kushagrasahu04" style="margin-left:1%;color:white"><i class="fa fa-facebook-square" aria-hidden="true"></i></a></p>
</div>
