{% load staticfiles %}
<html>
<head>
	<title>Download Song/Video</title>
	<link rel="shortcut icon" href="{% static 'app/images/title1.png' %}" />
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.0.0/jquery.min.js"></script>
	<link href = "https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet">
	<link href='https://fonts.googleapis.com/css?family=Montserrat:700' rel='stylesheet' type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=Roboto+Slab' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/css/materialize.min.css">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/js/materialize.min.js"></script>
	<link href="http://code.jquery.com/ui/1.10.2/themes/mint-choc/jquery-ui.css" rel="Stylesheet"></link>
	<script src="https://code.jquery.com/ui/1.12.0/jquery-ui.min.js" integrity="sha256-eGE6blurk5sHj+rmkfsGYeKyZx3M4bG+ZlFyA7Kns7E=" crossorigin="anonymous"></script>
	<link rel="stylesheet" type="text/css" href="{% static 'app/css/video_list.css' %}" />
</head>
<body>
	<!-- <img src={% static "app/images/Elegant_Background-13.jpg" %}> -->

	<nav>
		<div class="nav-wrapper">
			<div class = "col l10" style="display:flex;justify-content:center">
				<form class ="input-field col m10 offset-m1 s12 l8 offset-l2" action="{% url 'download-video' %}" method="GET">
					<input id="icon_prefix" type="text" name="search" class="validate" autocomplete="off" spellcheck="false" onkeypress="loadingToast(event)" onfocus="restoreWhite(event)" placeholder="Search Again ...">
				</form>
				<i id="icon-search" class="fa fa-2x fa-search" aria-hidden="true"></i>
			</div>
		</div>
	</nav>
	<div class="home">
		<p><a href="{% url 'home' %}" style="color:white;"">VALAR DOHAERIS.</a></p>
	</div>
	{% if not list_videos %}
	<p>OOPS. Go Back!</p>
	{% endif %}
	{% for video in list_videos %}
	<div class="row">
		<div class="col s12 m10 l4 offset-l4 offset-m1">
			<div class="card">
				<div class="card-image">
					<img src= "{{ video.thumbnail }}">
				</div>
				<div class="card-content">
					<h5>{{ video.title }} </h5>
					<p style="font-size:20px">Duration - {{ video.time }}</p>
					<p style="font-size:20px">Youtube views - {{ video.views }}</p>
					<p style="font-size:20px"><a href="{{ video.watch_link }}" target="_blank">Watch on YouTube - <i class="fa fa-youtube-play" aria-hidden="true"></i></a></p>
					<p style="font-size:20px;"><a href="{{ video.audio }}" target="_blank" style="color:#FF8200">Download Audio - <i class="fa fa-headphones" aria-hidden="true"></i></a></p>
				</div>
				<div class="card-action" style="text-align:center;">
					<a style="font-size:17px;font-weight:bolder" href="{{ video.highq_link }}" onclick="thanksToast(event)" style="justify-content:center" target="_blank">Download 720P</a>
					<a style="font-size:17px;font-weight:bolder" href="{{ video.lowq_link }}" onclick="thanksToast(event)" style="justify-content:center" target="_blank">Download 360P</a>
				</div>
			</div>
		</div>
	</div>
	{% endfor %}
	<div id="bg">
		<img src="{% static "app/images/Elegant_Background-13.jpg" %}" alt="">
	</div>
	<div id="back" style="margin-bottom: 2%;">
		<a class="waves-effect waves-light btn-large" style="width:40%;left: 30%" onclick="focusSearch(event)">Search More Songs/Videos!</a>
	</div>
	<script>
		var interval_id, speed_point, el, win_ht, delta;
		function scroll(){
			if(window.scrollY === 0){
				clearInterval(interval_id);
			}
			else if(window.scrollY > speed_point){
				delta = -250;
			}
			else if(window.scrollY < speed_point){
				delta = -15;
			}
			if(window.scrollY < delta){
				delta = -window.scrollY;
			}
			window.scrollTo(window.scrollX, window.scrollY + delta);
		}
		function clicked(e){
			e.preventDefault();
			win_ht =  Math.max(document.documentElement.clientHeight,
				document.body.scrollHeight,
				document.documentElement.scrollHeight,
				document.body.offsetHeight,
				document.documentElement.offsetHeight);
			speed_point = win_ht/32;
			interval_id = setInterval(scroll, 50);
		}

		function restoreWhite(e){
			$("#icon-search").css({
				'color': 'white',
				'font-weight': 'bolder'
			})
		}

		function focusSearch(e){
			console.log("YOOOO")
			$("#icon-search").css({
				'color': 'aqua',
				'font-weight': 'bolder'
			})
			clicked(e);
			// $("#icon_prefix").focus()
		}
		function loadingToast(e){
			if (e.keyCode == 13) {
				setInterval(function(){console.log('hi')}, 1000)
				setTimeout(function(){
					setInterval(function(){
						Materialize.toast('Loading the results in a moment :)',3000,'rounded')
					},3000)
				},2000)
			}
		}
		function thanksToast(e){
			setTimeout(function(){
				Materialize.toast('Valar Downloadis ;)', 20000, 'rounded')
			}, 2000);
			setTimeout(function(){
				Materialize.toast('Ready for the next Video or maybe a Playlist?', 16000, 'rounded')
			}, 4000);
		}
		var suggestCallBack; // global var for autocomplete jsonp

		$(document).ready(function () {
			$("#icon_prefix").autocomplete({
				source: function(request, response) {
					$.getJSON("http://suggestqueries.google.com/complete/search?callback=?",
					{ 
                  		"hl":"en", // Language                  
                  		"jsonp":"suggestCallBack", // jsonp callback function name
                  		"q":request.term, // query term
                  		"client":"youtube" // force youtube style response, i.e. jsonp
                  	});
					suggestCallBack = function (data) {
						var suggestions = [];
						$.each(data[1], function(key, val) {
							suggestions.push({"value":val[0]});
						});
                		suggestions.length = 6; // prune suggestions list to only 6 items
                		response(suggestions);
                	};
                },
            });
		});
	</script>
	<script>
		(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
			(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
			m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

		ga('create', 'UA-80875706-1', 'auto');
		ga('send', 'pageview');
	</script>
</body>
{% include 'common/footer.html' %}
</html>