* {
	padding: 0;
	margin: 0;
	text-decoration: none;
	list-style: none;

	box-sizing: border-box;
	/*background-color: rgba(10,10,10,0.1);*/
}

a {
	color: inherit; 
} 

#bg {
	position: fixed; 
	top: -50%; 
	left: -50%; 
	width: 200%; 
	height: 200%;
	z-index: -2;
}
#bg img {
	position: absolute; 
	top: 0; 
	left: 0; 
	right: 0; 
	bottom: 0; 
	margin: auto; 
	min-width: 50%;
	min-height: 50%;
}

#p1 p{
	text-align: center;
	padding-top: 3%;
	font-size: 70px;
	font-family: "Montserrat", sans-serif;
	font-weight: bolder;
	color: white;
}
#p2{
	margin-top: 3%;
	/*background-color: rgba(10,10,10,0.1);*/
}

#p2 p{
	text-align: center;
	font-family: "Montserrat", sans-serif;
	font-weight: bolder;
	font-size: 20px;
	color: white;
	margin-bottom: 10%;

}
#buttons2 {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
	margin-top: 11%;
}
#btn {
	margin-top: 2%;
    vertical-align: middle;
	font-size: 20px;
}
#btn a{
	font-family: "Montserrat", sans-serif;
	font-weight: bolder;
	color: white;
	background-color: rgba(156, 161, 119, 0.31);
	height: 110px;
	line-height: 110px;
    border-radius: 28px 28px;
}

#footer{
	position: fixed;

}

/*Parralax*/
#banner {
	margin-bottom: 50px;
	overflow: hidden;
	width: 100%;
	height: 500px;
	position: relative;
	clear: both;
	background: transparent url(images/YouTube.jpg) center center no-repeat fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='path/to/image/1.jpg',sizingMethod='scale');
	-ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='path/to/image/1.jpg',sizingMethod='scale')";
}

.wrap-center{
	margin: 0 auto;
	position: relative;
	max-width: 73.231em;
}

.banner-centered {
	text-align: center;
	/*position: absolute;*/
	display: block;
	max-width: 75.231em;
	height: inherit;
	overflow: hidden;
	margin-top: 100px;
}

.banner-centered h2 {
	font-size: 5.385em;
	line-height: 1.5;
	/*text-transform: uppercase;*/
	letter-spacing: 2px;
	color: #fafafa;
	font-weight: 100;
	text-align: center;
	display: block;
	margin: auto;
}


